<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Jadwal Reservasi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<!--    <link href="css/main.css" rel="stylesheet" type="text/css">-->
<!--    <link href="icons/style.css" rel="stylesheet" type="text/css">-->
</head>
<body style="background-color: #C7BC9C">
<nav th:replace="fragments/fragment :: navbar('Jadwal')"></nav>
<div class="main">
    <div class="wrap">
        <div class="left">
            <div id="nav"></div>
        </div>
        <div class="right">
            <div class="toolbar">
                <button id="previous">Previous</button>
                <button id="next">Next</button>
            </div>
            <div id="dp"></div>
        </div>
    </div>
</div>

<!-- DayPilot library -->
<script src="js/daypilot/daypilot-all.min.js"></script>

<script>

    const datePicker = new DayPilot.Navigator("nav", {
        showMonths: 3,
        skipMonths: 3,
        selectMode: "Month",
        onTimeRangeSelected: args => {
            calendar.update({
                startDate: args.day
            });
            calendar.events.load("/jadwal");
        }
    });
    datePicker.init();

    const calendar = new DayPilot.Month("dp", {
        eventEndSpec: "Date",
        eventHeight: 30,
        eventBarVisible: false,
        onTimeRangeSelected: async (args) => {
            const modal = await DayPilot.Modal.prompt("Buat jadwal Baru:", "Jadwal");
            calendar.clearSelection();
            if (modal.canceled) {
                return;
            }
            const params = {
                start: args.start,
                end: args.end,
                text: modal.result
            };
            const {data} = await DayPilot.Http.post('/jadwal/buat', params);
            calendar.events.add(data);
        },
        onEventMove: async (args) => {
            const params = {
                id: args.e.id(),
                start: args.newStart,
                end: args.newEnd
            };
            const {data} = await DayPilot.Http.post('/jadwal/pindah', params);
        },
        onEventResize: async (args) => {
            const params = {
                id: args.e.id(),
                start: args.newStart,
                end: args.newEnd
            };
            const {data} = await DayPilot.Http.post('/jadwal/pindah', params);
        },
        onBeforeEventRender: args => {
            const color = args.data.color || "#888888";
            args.data.backColor = DayPilot.ColorUtil.lighter(color);
            args.data.borderColor = "darker";
            args.data.fontColor = "#ffffff";
            args.data.areas = [
                {
                    top: 6,
                    right: 6,
                    width: 18,
                    height: 18,
                    icon: "icon-triangle-down",
                    visibility: "Visible",
                    action: "ContextMenu",
                    style: "font-size: 12px; background-color: #fff; border: 1px solid #ccc; padding: 2px 2px 0px 2px; cursor:pointer; box-sizing: border-box; border-radius: 15px;"
                }
            ];
        },
        contextMenu: new DayPilot.Menu({
            items: [
                {
                    text: "Hapus",
                    onClick: async (args) => {
                        const e = args.source;
                        const params = {
                            id: e.id()
                        };

                        const {data} = await DayPilot.Http.post('/jadwal/hapus', params);
                        calendar.events.remove(e);
                    }
                },
                {
                    text: "-"
                },
                {
                    text: "SoftBook",
                    icon: "icon icon-yellow",
                    color: "#E0F20C",
                    onClick: (args) => {
                        app.updateColor(args.source, args.item.color);
                    }
                },
                {
                    text: "Down Payment 1",
                    icon: "icon icon-green",
                    color: "#42CF61",
                    onClick: (args) => {
                        app.updateColor(args.source, args.item.color);
                    }
                },
                {
                    text: "Down Payment 2",
                    icon: "icon icon-red",
                    color: "#F19191",
                    onClick: (args) => {
                        app.updateColor(args.source, args.item.color);
                    }
                },
                {
                    text: "Fully Paid",
                    icon: "icon icon-orange",
                    color: "#FFC267",
                    onClick: (args) => {
                        app.updateColor(args.source, args.item.color);
                    }
                }, {
                    text: "Auto",
                    color: "auto",
                    onClick: (args) => {
                        app.updateColor(args.source, args.item.color);
                    }
                },

            ]
        })
    });
    calendar.init();

    const app = {
        elements: {
            previous: document.querySelector("#previous"),
            next: document.querySelector("#next"),
        },
        async updateColor(e, color) {
            const params = {
                id: e.id(),
                color: color
            };
            const {data} = await DayPilot.Http.post('/jadwal/ubahStatus', params);
            e.data.color = color;
            calendar.events.update(e);
        },
        init() {
            app.elements.previous.addEventListener("click", () => {
                const current = datePicker.selectionDay;
                datePicker.select(current.addMonths(-1));
            });
            app.elements.next.addEventListener("click", () => {
                const current = datePicker.selectionDay;
                datePicker.select(current.addMonths(1));
            });

            calendar.events.load("/jadwal");
        }
    };

    app.init();

</script>


<style>
    .month_default_event_inner {
        border-radius: 20px;
    }

</style>

</body>
</html>
